In [71]:
from pymongo import MongoClient
import pandas as pd
import re
import requests
import json


client = MongoClient('mongodb://localhost:27017/')
db = client.company

In [80]:
#filter companies that have coordinates

query= db.company.find({
    "$and":
    [{"deadpooled_year":None},
     {"number_of_employees":{"$ne":None}},
     {"founded_year":{"$gte":2007}},
     {"offices.longitude":{"$exists":True}},
     {"offices.latitude":{"$ne":None}},
     {"offices.longitude":{"$ne":None}},
     {"offices.longitude":{"$exists":True}
     }
    ]
}
)

In [81]:
print(query)

<pymongo.cursor.Cursor object at 0x1442f0710>

In [82]:
with_coords = pd.DataFrame(query)
with_coords.shape

(2152, 42)

In [83]:
#new dataframe with filtered columns

with_coords2 = with_coords[['_id','name','number_of_employees','category_code','offices','founded_year','ipo','funding_rounds','total_money_raised','investments','deadpooled_year','partners']]
with_coords2.head(100)
with_coords2.shape

(2152, 12)

In [84]:
get_offices= pd.DataFrame(with_coords['offices'].tolist()).stack().reset_index(level=1, drop=True)
office = get_offices.rename('office')

office.head()

0    {'description': 'HQ', 'address1': '539 Bryant ...
1    {'description': None, 'address1': '', 'address...
2    {'description': '', 'address1': '3525 Eastham ...
3    {'description': 'Livestream HQ', 'address1': '...
4    {'description': '', 'address1': '131 Varick St...
Name: office, dtype: object

In [85]:
df_clean= with_coords2.merge(office, left_index= True, right_index=True)

df_clean = df_clean[['name','number_of_employees','category_code','office','ipo','total_money_raised','founded_year','deadpooled_year','partners']]
df_clean.head()

,name,number_of_employees,category_code,office,ipo,total_money_raised,founded_year,deadpooled_year,partners
0,Scribd,50,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,2007,None,[]
1,MeetMoi,15,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,2007,None,[]
2,Mahalo,40,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,2007,None,[]
3,Livestream,120,games_video,"{'description': 'Livestream HQ', 'address1': '...",None,$14.7M,2007,None,[]
4,AdaptiveBlue,15,games_video,"{'description': '', 'address1': '131 Varick St...",None,$24M,2007,None,[]

In [86]:
def getOffices(offices):
    offices = df_clean['office']
    principal = None
    for record in offices:     
        return {
            "lat": record['latitude'],
            "long": record['longitude']}
            

offices = df_clean[['office']].apply(getOffices, result_type="expand", axis=1)
offices.head()

         lat        long
0  37.789634 -122.404052
1  37.789634 -122.404052
2  37.789634 -122.404052
3  37.789634 -122.404052
4  37.789634 -122.404052

In [87]:
df_concat = pd.concat([df_clean,offices], axis=1)
df_concat.head()

,name,number_of_employees,category_code,office,ipo,total_money_raised,founded_year,deadpooled_year,partners,lat,long
0,Scribd,50,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,2007,None,[],37.789634,-122.404052
1,MeetMoi,15,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,2007,None,[],37.789634,-122.404052
2,Mahalo,40,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,2007,None,[],37.789634,-122.404052
3,Livestream,120,games_video,"{'description': 'Livestream HQ', 'address1': '...",None,$14.7M,2007,None,[],37.789634,-122.404052
4,AdaptiveBlue,15,games_video,"{'description': '', 'address1': '131 Varick St...",None,$24M,2007,None,[],37.789634,-122.404052

In [88]:
#Get API for exchange rate

url = "https://api.exchangeratesapi.io/latest?base=USD"
res = requests.get(url)
rates = res.json()
print(rates)

{'rates': {'CAD': 1.3124497992, 'HKD': 7.8097278001, 'ISK': 126.639892905, 'PHP': 51.3422579206, 'DKK': 6.6607764391, 'HUF': 290.4596162427, 'CZK': 22.7960731816, 'GBP': 0.8029897367, 'RON': 4.218206158, 'SEK': 9.490227577, 'IDR': 14130.0044622936, 'INR': 68.5238732709, 'BRL': 3.8063364569, 'RUB': 63.7221775993, 'HRK': 6.6000892459, 'JPY': 108.817492191, 'THB': 30.8353413655, 'CHF': 0.9939312807, 'EUR': 0.8924587238, 'MYR': 4.1419009371, 'BGN': 1.745470772, 'TRY': 5.6977242303, 'CNY': 6.8857652834, 'NOK': 8.6553324409, 'NZD': 1.5115573405, 'ZAR': 14.1643908969, 'USD': 1.0, 'MXN': 18.9046854083, 'SGD': 1.3609995538, 'AUD': 1.4425702811, 'ILS': 3.5675145025, 'KRW': 1182.55243195, 'PLN': 3.8045515395}, 'base': 'USD', 'date': '2019-07-09'}

In [89]:
#get currency types


x = []
for i in df_concat['total_money_raised']:
    y=re.findall("^\D+",i)
    if y not in x:
        x.append(y)
        
print(x)

[['$'], ['€'], ['£'], ['C$']]

In [90]:
def dropSpaces(currency):
    return currency.rstrip()
    

with_coords2['total_money_raised'] = with_coords2['total_money_raised'].apply(dropSpaces)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [91]:
def coinsValues_USD(currency):
    curr_float = float(re.search("\d*\.\d*|\d+", currency)[0])    
    if currency.endswith("M"):
        curr_float= curr_float*1000000
    if currency.endswith("B"):
        curr_float= curr_float*1000000000
    if currency.endswith("k"):
        curr_float= curr_float*1000
    if currency.startswith("€"): 
        curr_float = curr_float*rates['rates']['EUR']
    if currency.startswith("$"): 
        curr_float = curr_float
    if currency.startswith("£"):
        curr_float = curr_float*rates['rates']['GBP']
    if currency.startswith("C$"):
        curr_float = curr_float*rates['rates']['SEK']
    return int(curr_float)

df_concat['total_USD_raised'] = df_concat['total_money_raised'].apply(coinsValues_USD)


df_concat.head(100)

,name,number_of_employees,category_code,office,ipo,total_money_raised,founded_year,deadpooled_year,partners,lat,long,total_USD_raised
0,Scribd,50,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,2007,None,[],37.789634,-122.404052,25800000
1,MeetMoi,15,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,2007,None,[],37.789634,-122.404052,5580000
2,Mahalo,40,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,2007,None,[],37.789634,-122.404052,21000000
3,Livestream,120,games_video,"{'description': 'Livestream HQ', 'address1': '...",None,$14.7M,2007,None,[],37.789634,-122.404052,14700000
4,AdaptiveBlue,15,games_video,"{'description': '', 'address1': '131 Varick St...",None,$24M,2007,None,[],37.789634,-122.404052,24000000
5,Pownce,6,web,"{'description': '', 'address1': '1459 18th Str...",None,$0,2007,None,[],37.789634,-122.404052,0
6,CriticalMetrics,4,web,"{'description': None, 'address1': None, 'addre...",None,$100k,2007,None,[],37.789634,-122.404052,100000
7,SodaHead,25,web,"{'description': '', 'address1': '16161 Ventura...",None,$12.7M,2007,None,[],37.789634,-122.404052,12700000
8,Wakoopa,8,web,"{'description': 'Arts & Crafts', 'address1': '...",None,$1M,2007,None,[],37.789634,-122.404052,1000000
9,coRank,0,web,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,[],37.789634,-122.404052,0
10,CrowdVine,10,web,"{'description': '', 'address1': '53 S Knoll Rd...",None,$0,2007,None,[],37.789634,-122.404052,0
11,Seesmic,13,web,"{'description': '', 'address1': '1550 Bryant S...",None,$16M,2007,None,[],37.789634,-122.404052,16000000
12,Cofoundr,0,network_hosting,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,[],37.789634,-122.404052,0
13,GoingOn,40,software,"{'description': 'GoingOn Networks, Inc.', 'add...",None,$8.5M,2008,None,[],37.789634,-122.404052,8500000
14,FeVote,1,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,[],37.789634,-122.404052,0
15,Buxfer,4,web,"{'description': '', 'address1': '', 'address2'...",None,$315k,2007,None,[],37.789634,-122.404052,315000
16,boo-box,50,advertising,"{'description': 'boo-land', 'address1': 'Av. F...",None,$300k,2007,None,"[{'partner_name': 'AngelList', 'homepage_url':...",37.789634,-122.404052,300000
17,Scrybe,20,enterprise,"{'description': '', 'address1': '181 Fremont S...",None,$1.31M,2007,None,[],37.789634,-122.404052,1310000
18,Echo,50,enterprise,"{'description': 'headquarter', 'address1': '17...",None,$4.8M,2007,None,"[{'partner_name': 'AngelList', 'homepage_url':...",37.789634,-122.404052,4800000
19,Inneractive,0,advertising,"{'description': '', 'address1': '300 S Ellswor...",None,$8.5M,2007,None,[],37.789634,-122.404052,8500000
20,Socialthing,5,network_hosting,"{'description': 'HQ', 'address1': '1050 Walnut...",None,$415k,2007,None,[],37.789634,-122.404052,415000
21,Filtrbox,14,web,"{'description': 'HQ', 'address1': '325 Lytton ...",None,$1.92M,2007,None,[],37.789634,-122.404052,1920000
22,Cloudant,70,enterprise,"{'description': '', 'address1': '129 South Str...",None,$18.3M,2008,None,[],37.789634,-122.404052,18300000
23,Zivity,16,network_hosting,"{'description': '', 'address1': '329 Bryant St...",None,$8M,2007,None,[],37.789634,-122.404052,8000000
24,Docstoc,40,web,"{'description': '', 'address1': '409 S Santa M...",None,$4M,2007,None,"[{'partner_name': 'AngelList', 'homepage_url':...",37.789634,-122.404052,4000000
25,Seedcamp,4,finance,"{'description': '', 'address1': '8 Clifford St...",None,€5M,2007,None,[],37.789634,-122.404052,4462293
26,LocaModa,0,advertising,"{'description': 'HQ', 'address1': 'One Broadwa...",None,$7.9M,2007,None,[],37.789634,-122.404052,7900000
27,YouBeQB,8,games_video,"{'description': None, 'address1': None, 'addre...",None,$0,2008,None,[],37.789634,-122.404052,0
28,MicroPlace,15,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,[],37.789634,-122.404052,0
29,EyeJot,5,web,"{'description': '', 'address1': '315 5th Ave S...",None,$1.15M,2007,None,[],37.789634,-122.404052,1150000
...,...,...,...,...,...,...,...,...,...,...,...,...
70,divorce360,6,web,"{'description': None, 'address1': '760 US High...",None,$2.5M,2007,None,[],37.789634,-122.404052,2500000
71,eventsbot,10,web,"{'description': None, 'address1': '571 Bucking...",None,$0,2007,None,[],37.789634,-122.404052,0
72,Uversity,30,social,"{'description': None, 'address1': None, 'addre...",None,$10.2M,2007,None,[],37.789634,-122.404052,10200000
72,Uversity,30,social,"{'description': None, 'address1': None, 'addre...",None,$10.2M,2007,None,[],37.789634,-122.404052,10200000
73,eBurl,1,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,[],37.789634,-122.404052,0
74,GoLark,3,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,[],37.789634,-122.404052,0
75,Flixwagon,10,mobile,"{'description': None, 'address1': None, 'addre...",None,$2.5M,2007,None,[],37.789634,-122.404052,2500000
76,Picktastic,2,games_video,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,[],37.789634,-122.404052,0
77,CareFlash,0,web,"{'description': 'CareFlash LLC', 'address1': '...",None,$600k,2007,None,[],37.789634,-122.404052,600000
78,Acquia,400,enterprise,"{'description': 'HQ', 'address1': '25 Corporat...",None,$68.5M,2007,None,[],37.789634,-122.404052,68500000
79,LiveHire,5,games_video,"{'description': None, 'address1': '510 Thornal...",None,$0,2007,None,[],37.789634,-122.404052,0
80,TravelMuse,11,web,"{'description': '', 'address1': '55 Broad Stre...",None,$5.6M,2007,None,[],37.789634,-122.404052,5600000
81,Driftr,0,web,"{'description': None, 'address1': '', 'address...",None,$0,2007,None,[],37.789634,-122.404052,0
82,Orglex,0,web,"{'description': None, 'address1': None, 'addre...",None,$0,2007,None,[],37.789634,-122.404052,0
83,Mogad,2,network_hosting,"{'description': None, 'address1': '579 Valenci...",None,$500k,2007,None,[],37.789634,-122.404052,500000
84,Livemocha,35,education,"{'description': '', 'address1': '1011 Western ...",None,$19.4M,2007,None,[],37.789634,-122.404052,19400000
85,Mpayy,2,ecommerce,"{'description': None, 'address1': '101 N Wacke...",None,$0,2007,None,[],37.789634,-122.404052,0
86,Widgetbox,30,other,"{'description': None, 'address1': None, 'addre...",None,$14.5M,2012,None,[],37.789634,-122.404052,14500000
87,CheerOutLoud,0,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,[],37.789634,-122.404052,0
87,CheerOutLoud,0,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,[],37.789634,-122.404052,0
88,Webnode,30,network_hosting,"{'description': '', 'address1': 'U vodarny 2',...",None,$0,2008,None,[],37.789634,-122.404052,0
89,Frevvo,10,web,"{'description': None, 'address1': None, 'addre...",None,$500k,2007,None,[],37.789634,-122.404052,500000
90,UnLtdWorld,4,enterprise,"{'description': '', 'address1': '123 Whitecros...",None,£250k,2007,None,[],37.789634,-122.404052,200747
91,Boobik,3,web,"{'description': '', 'address1': '', 'address2'...",None,$0,2007,None,[],37.789634,-122.404052,0
92,Blogonize,1,web,"{'description': None, 'address1': '12459 W 84t...",None,$0,2007,None,[],37.789634,-122.404052,0
93,Roost,15,software,"{'description': '', 'address1': '50 Beale St. ...",None,$13.5M,2007,None,[],37.789634,-122.404052,13500000
94,WonderHowTo,12,games_video,"{'description': None, 'address1': '1832 Frankl...",None,$0,2008,None,[],37.789634,-122.404052,0
95,clipsync,28,web,"{'description': '', 'address1': 'Pier 33 South...",None,$1.51M,2007,None,[],37.789634,-122.404052,1510000
96,Heroku,80,enterprise,"{'description': None, 'address1': '', 'address...",None,$13M,2007,None,[],37.789634,-122.404052,13000000
97,Lookery,9,web,"{'description': 'West Coast', 'address1': '25 ...",None,$3.15M,2007,None,[],37.789634,-122.404052,3150000

In [93]:
df_concat[['name','office','lat','long','number_of_employees','category_code','founded_year','ipo','total_USD_raised','deadpooled_year']]
df_concat.shape

(2292, 12)

In [ ]:
#export json