In [55]:
from pymongo import MongoClient
import pandas as pd
import re
import requests


client = MongoClient('mongodb://localhost:27017/')
db = client.company

In [56]:
#filter companies that have coordinates

query= db.company.find({
    "$and":
    [
     {"offices.longitude":{"$exists":True}},
     {"offices.latitude":{"$ne":None}},
     {"offices.longitude":{"$ne":None}},
     {"offices.longitude":{"$exists":True}
     }
    ]
}
)

In [57]:
print(query)

<pymongo.cursor.Cursor object at 0x126d62d68>

In [58]:
with_coords = pd.DataFrame(query)
with_coords.head(2)

,_id,acquisition,acquisitions,alias_list,blog_feed_url,blog_url,category_code,competitions,created_at,crunchbase_url,...,phone_number,products,providerships,relationships,screenshots,tag_list,total_money_raised,twitter_username,updated_at,video_embeds
0,52cdef7c4bab8bd675297d8a,"{'price_amount': 30000000, 'price_currency_cod...",[],,http://digitalquarters.net/feed/,http://digitalquarters.net/,web,"[{'competitor': {'name': 'Wikia', 'permalink':...",2007-05-25 06:51:27,http://www.crunchbase.com/company/wetpaint,...,206.859.6300,"[{'name': 'Wikison Wetpaint', 'permalink': 'we...",[],"[{'is_past': False, 'title': 'Co-Founder and V...","[{'available_sizes': [[[150, 86], 'assets/imag...","wiki, seattle, elowitz, media-industry, media-...",$39.8M,BachelrWetpaint,Sun Dec 08 07:15:44 UTC 2013,[]
1,52cdef7c4bab8bd675297d8b,None,[],Zoho ManageEngine,,,enterprise,[],2007-05-25 19:24:22,http://www.crunchbase.com/company/adventnet,...,925-924-9500,[],"[{'title': 'DHFH', 'is_past': True, 'provider'...","[{'is_past': True, 'title': 'CEO and Co-Founde...","[{'available_sizes': [[[150, 94], 'assets/imag...",,$0,manageengine,Wed Oct 31 18:26:09 UTC 2012,[]

In [65]:
#new dataframe with filtered columns

with_coords2 = with_coords[['_id','name','number_of_employees','category_code','offices','founded_year','ipo','funding_rounds','total_money_raised','investments','deadpooled_year','partners']]
with_coords2.head(100)
with_coords2.shape

(9025, 12)

In [106]:
get_offices= pd.DataFrame(with_coords['offices'].tolist()).stack().reset_index(level=1, drop=True)
office = get_offices.rename('office')

office.head()

0    {'description': '', 'address1': '710 - 2nd Ave...
0    {'description': '', 'address1': '270 Lafayette...
1    {'description': 'Headquarters', 'address1': '4...
2    {'description': 'Headquarters', 'address1': '4...
3    {'description': None, 'address1': '135 Mississ...
Name: office, dtype: object

In [124]:
df_clean= with_coords2.merge(office, left_index= True, right_index=True)

df_clean[['name','number_of_employees','category_code','office','ipo','total_money_raised','deadpooled_year','partners']]

,name,number_of_employees,category_code,office,ipo,total_money_raised,deadpooled_year,partners
0,Wetpaint,47.0,web,"{'description': '', 'address1': '710 - 2nd Ave...",NaN,$39.8M,1.0,[]
0,Wetpaint,47.0,web,"{'description': '', 'address1': '270 Lafayette...",NaN,$39.8M,1.0,[]
1,AdventNet,600.0,enterprise,"{'description': 'Headquarters', 'address1': '4...",NaN,$0,2.0,[]
2,Zoho,1600.0,software,"{'description': 'Headquarters', 'address1': '4...",NaN,$0,3.0,[]
3,Digg,60.0,news,"{'description': None, 'address1': '135 Mississ...",None,$45M,NaN,[]
4,Facebook,5299.0,social,"{'description': 'Headquarters', 'address1': '1...","{'valuation_amount': 104000000000, 'valuation_...",$2.43B,NaN,[]
4,Facebook,5299.0,social,"{'description': 'Europe HQ', 'address1': '', '...","{'valuation_amount': 104000000000, 'valuation_...",$2.43B,NaN,[]
4,Facebook,5299.0,social,"{'description': 'New York', 'address1': '340 M...","{'valuation_amount': 104000000000, 'valuation_...",$2.43B,NaN,[]
5,Postini,NaN,web,"{'description': None, 'address1': '959 Skyway ...",None,$0,NaN,[]
6,Geni,18.0,web,"{'description': 'Headquarters', 'address1': '9...",None,$16.5M,NaN,[]
7,Flektor,NaN,games_video,"{'description': None, 'address1': '8536 Nation...",None,$0,NaN,[]
8,Fox Interactive Media,0.0,web,"{'description': '', 'address1': '407 N Maple D...",None,$0,NaN,[]
9,Twitter,1300.0,social,"{'description': '', 'address1': '1355 Market S...","{'valuation_amount': 18100000000, 'valuation_c...",$1.16B,NaN,[]
10,Gizmoz,NaN,web,"{'description': None, 'address1': None, 'addre...",None,$18.1M,NaN,[]
11,Scribd,50.0,news,"{'description': 'HQ', 'address1': '539 Bryant ...",None,$25.8M,NaN,[]
12,Slacker,NaN,music,"{'description': '', 'address1': '16935 W. Bern...",None,$73.1M,NaN,[]
13,Lala,NaN,games_video,"{'description': 'Lala Headquarters', 'address1...",None,$44.2M,NaN,[]
14,Helio,NaN,mobile,"{'description': None, 'address1': '10960 Wilsh...",None,$0,NaN,[]
15,eBay,15000.0,web,"{'description': 'Headquarters', 'address1': '2...","{'valuation_amount': None, 'valuation_currency...",$6.7M,NaN,[]
16,MeetMoi,15.0,social,"{'description': None, 'address1': '', 'address...",None,$5.58M,NaN,[]
17,Joost,0.0,games_video,"{'description': '', 'address1': '100 5th Ave F...",None,$45M,NaN,[]
18,CBS,NaN,news,"{'description': None, 'address1': '', 'address...","{'valuation_amount': None, 'valuation_currency...",$0,NaN,[]
19,Viacom,NaN,web,"{'description': 'HQ', 'address1': '1515 Broadw...","{'valuation_amount': None, 'valuation_currency...",$0,NaN,[]
20,Babelgum,NaN,games_video,"{'description': '', 'address1': '', 'address2'...",None,$13.2M,2013.0,[]
21,Plaxo,50.0,web,"{'description': 'HQ', 'address1': '1050 Enterp...",None,$28.3M,NaN,[]
22,Cisco,63000.0,network_hosting,"{'description': 'Headquarters', 'address1': '1...","{'valuation_amount': None, 'valuation_currency...",$2.5M,NaN,[]
23,Yahoo!,13600.0,web,"{'description': None, 'address1': '701 First A...","{'valuation_amount': None, 'valuation_currency...",$6.8M,NaN,[]
24,Powerset,60.0,search,"{'description': None, 'address1': '475 Brannan...",None,$22.5M,NaN,[]
25,Technorati,35.0,advertising,"{'description': '', 'address1': '360 Post St. ...",None,$32.1M,NaN,[]
26,Mahalo,40.0,web,"{'description': '', 'address1': '3525 Eastham ...",None,$21M,NaN,[]
...,...,...,...,...,...,...,...,...
8996,Luminus Devices,NaN,other,"{'description': 'Corporate Headquarters', 'add...",None,$136M,NaN,[]
8997,Chestnut Medical,NaN,biotech,"{'description': '', 'address1': '173 Jefferson...",None,$7.8M,NaN,[]
8998,Emrise Corporation,NaN,hardware,"{'description': '', 'address1': '611 Industria...",None,$0,NaN,[]
8999,Nellix,NaN,None,"{'description': '', 'address1': '2465-B Faber ...",None,$6.5M,NaN,[]
9000,Hellocoton,4.0,other,"{'description': '', 'address1': '108 boulevard...",None,$0,NaN,[]
9001,AwardSpace,35.0,network_hosting,"{'description': 'World Headquarter', 'address1...",None,$0,NaN,[]
9002,Buddhacom,8.0,search,"{'description': 'Toronto Office', 'address1': ...",None,$0,NaN,[]
9003,Atlantic BT,30.0,web,"{'description': 'Main Office', 'address1': '80...",None,$0,NaN,[]
9004,SEO Sumo,5.0,public_relations,"{'description': 'Main Office', 'address1': '68...",None,$0,NaN,[]
9005,InstantQ,3.0,advertising,"{'description': '', 'address1': '', 'address2'...",None,$0,NaN,[]
9006,NextLabs,100.0,enterprise,"{'description': 'Corporate Headquarters', 'add...",None,$0,NaN,[]
9007,acrossair,6.0,mobile,"{'description': '198 High Holborn', 'address1'...",None,$0,NaN,[]
9008,Cameron Health,NaN,medical,"{'description': 'Corporate Office', 'address1'...",None,$121M,NaN,[]
9009,Cantimer,NaN,None,"{'description': '', 'address1': '3700 Haven Co...",None,$2M,NaN,[]
9010,Celestial Semiconductor,NaN,semiconductor,"{'description': '', 'address1': '2635 North 1s...",None,$2M,NaN,[]
9011,Purfresh,NaN,cleantech,"{'description': 'HQ', 'address1': '1350 Willow...",None,$62.7M,NaN,[]
9012,MyChances,2.0,consulting,"{'description': 'Headquarters', 'address1': ''...",None,$0,NaN,[]
9012,MyChances,2.0,consulting,"{'description': 'Menlo Park Office', 'address1...",None,$0,NaN,[]
9013,InSound Medical,NaN,biotech,"{'description': '', 'address1': '39660 Eureka ...",None,$11M,NaN,[]
9014,Getyoo,10.0,mobile,"{'description': 'HQ', 'address1': 'Rue des Tan...",None,â‚¬1.13M,NaN,[]
9015,EnterSys Group,NaN,software,"{'description': '', 'address1': '13280 NW Free...",None,$0,NaN,[]
9016,Axon Solutions,NaN,software,"{'description': '', 'address1': '15 Exchange P...",None,$0,NaN,[]
9017,Intergy,NaN,software,"{'description': '', 'address1': '11875 Dublin ...",None,$0,NaN,[]
9018,Willdan Group,385.0,other,"{'description': '', 'address1': '2401 East Kat...",None,$0,NaN,[]
9019,Contemporary Computer Services,NaN,software,"{'description': '', 'address1': '200 Knickerbo...",None,$0,NaN,[]
9020,QSGI,164.0,software,"{'description': '', 'address1': '400 Royal Pal...",None,$0,NaN,[]
9021,Oriact,NaN,software,"{'description': '', 'address1': 'LÃƒÂ¤rchenweg 7...",None,$0,NaN,[]
9022,AfterLogic,NaN,software,"{'description': 'Livingston', 'address1': 'P.O...",None,$0,NaN,[]
9023,EnteGreat Solutions,NaN,software,"{'description': '', 'address1': '', 'address2'...",None,$0,NaN,[]
9024,EnteGreat,NaN,enterprise,"{'description': '', 'address1': '1900 Internat...",None,$0,NaN,[]

In [125]:
def getOffices(offices):
    offices = df_clean['office']
    principal = None
    for record in offices:
        if record['latitude'] and record['longitude']:
            principal = {
            "type":"Point",
            "coordinates":[record['longitude'], record['latitude']]}
            
        return {
            "lat": record['latitude'],
            "long": record['longitude'],
            "oficina_principal": principal}
            

offices = df_clean[['offices']].apply(getOffices, result_type="expand", axis=1)
offices.head()

         lat        long                                  oficina_principal
0  47.603122 -122.333253  {'type': 'Point', 'coordinates': [-122.333253,...
0  47.603122 -122.333253  {'type': 'Point', 'coordinates': [-122.333253,...
1  47.603122 -122.333253  {'type': 'Point', 'coordinates': [-122.333253,...
2  47.603122 -122.333253  {'type': 'Point', 'coordinates': [-122.333253,...
3  47.603122 -122.333253  {'type': 'Point', 'coordinates': [-122.333253,...

In [29]:
#Get API for exchange rate

url = "https://api.exchangeratesapi.io/latest?base=USD"
res = requests.get(url)
rates = res.json()
print(rates)

{'rates': {'CAD': 1.3124497992, 'HKD': 7.8097278001, 'ISK': 126.639892905, 'PHP': 51.3422579206, 'DKK': 6.6607764391, 'HUF': 290.4596162427, 'CZK': 22.7960731816, 'GBP': 0.8029897367, 'RON': 4.218206158, 'SEK': 9.490227577, 'IDR': 14130.0044622936, 'INR': 68.5238732709, 'BRL': 3.8063364569, 'RUB': 63.7221775993, 'HRK': 6.6000892459, 'JPY': 108.817492191, 'THB': 30.8353413655, 'CHF': 0.9939312807, 'EUR': 0.8924587238, 'MYR': 4.1419009371, 'BGN': 1.745470772, 'TRY': 5.6977242303, 'CNY': 6.8857652834, 'NOK': 8.6553324409, 'NZD': 1.5115573405, 'ZAR': 14.1643908969, 'USD': 1.0, 'MXN': 18.9046854083, 'SGD': 1.3609995538, 'AUD': 1.4425702811, 'ILS': 3.5675145025, 'KRW': 1182.55243195, 'PLN': 3.8045515395}, 'base': 'USD', 'date': '2019-07-09'}

In [25]:
#get currency types


x = []
for i in with_coords2['total_money_raised']:
    y=re.findall("^\D+",i)
    if y not in x:
        x.append(y)
        
print(x)

[['$'], ['â‚¬'], ['Â£'], ['C$'], ['kr']]

In [36]:
def dropSpaces(currency):
    return currency.rstrip()
    

with_coords2['total_money_raised'] = with_coords2['total_money_raised'].apply(dropSpaces)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [48]:
def coinsValues_USD(currency):
    curr_float = float(re.search("\d*\.\d*|\d+", currency)[0])    
    if currency.endswith("M"):
        curr_float= curr_float*1000000
    if currency.endswith("B"):
        curr_float= curr_float*1000000000
    if currency.endswith("k"):
        curr_float= curr_float*1000
    if currency.startswith("â‚¬"): 
        curr_float = curr_float*rates['rates']['EUR']
    if currency.startswith("$"): 
        curr_float = curr_float
    if currency.startswith("Â£"):
        curr_float = curr_float*rates['rates']['GBP']
    if currency.startswith("C$"):
        curr_float = curr_float*rates['rates']['SEK']
    return int(curr_float)

with_coords2['total_USD_raised'] = with_coords2['total_money_raised'].apply(coinsValues_USD)


with_coords2.head(100)

/usr/local/Cellar/ipython/7.5.0/libexec/vendor/lib/python3.7/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,_id,name,number_of_employees,category_code,offices,founded_year,ipo,funding_rounds,total_money_raised,investments,deadpooled_year,partners,total_USD_raised
0,52cdef7c4bab8bd675297d8a,Wetpaint,47.0,web,"[{'description': '', 'address1': '710 - 2nd Av...",2005.0,NaN,"[{'id': 888, 'round_code': 'a', 'source_url': ...",$39.8M,[],1.0,[],39800000
1,52cdef7c4bab8bd675297d8b,AdventNet,600.0,enterprise,"[{'description': 'Headquarters', 'address1': '...",1996.0,NaN,[],$0,[],2.0,[],0
2,52cdef7c4bab8bd675297d8c,Zoho,1600.0,software,"[{'description': 'Headquarters', 'address1': '...",2005.0,NaN,[],$0,[],3.0,[],0
3,52cdef7c4bab8bd675297d8d,Digg,60.0,news,"[{'description': None, 'address1': '135 Missis...",2004.0,None,"[{'id': 1, 'round_code': 'b', 'source_url': 'h...",$45M,[],NaN,[],45000000
4,52cdef7c4bab8bd675297d8e,Facebook,5299.0,social,"[{'description': 'Headquarters', 'address1': '...",2004.0,"{'valuation_amount': 104000000000, 'valuation_...","[{'id': 2, 'round_code': 'angel', 'source_url'...",$2.43B,"[{'funding_round': {'round_code': 'seed', 'sou...",NaN,[],2430000000
5,52cdef7c4bab8bd675297d90,Postini,NaN,web,"[{'description': None, 'address1': '959 Skyway...",1999.0,None,[],$0,[],NaN,[],0
6,52cdef7c4bab8bd675297d91,Geni,18.0,web,"[{'description': 'Headquarters', 'address1': '...",2006.0,None,"[{'id': 6, 'round_code': 'a', 'source_url': ''...",$16.5M,[],NaN,[],16500000
7,52cdef7c4bab8bd675297d92,Flektor,NaN,games_video,"[{'description': None, 'address1': '8536 Natio...",NaN,None,[],$0,[],NaN,[],0
8,52cdef7c4bab8bd675297d93,Fox Interactive Media,0.0,web,"[{'description': '', 'address1': '407 N Maple ...",1979.0,None,[],$0,"[{'funding_round': {'round_code': 'b', 'source...",NaN,[],0
9,52cdef7c4bab8bd675297d94,Twitter,1300.0,social,"[{'description': '', 'address1': '1355 Market ...",2006.0,"{'valuation_amount': 18100000000, 'valuation_c...","[{'id': 261, 'round_code': 'a', 'source_url': ...",$1.16B,[],NaN,[],1160000000
10,52cdef7c4bab8bd675297d96,Gizmoz,NaN,web,"[{'description': None, 'address1': None, 'addr...",2003.0,None,"[{'id': 9, 'round_code': 'a', 'source_url': 'h...",$18.1M,[],NaN,[],18100000
11,52cdef7c4bab8bd675297d97,Scribd,50.0,news,"[{'description': 'HQ', 'address1': '539 Bryant...",2007.0,None,"[{'id': 10, 'round_code': 'seed', 'source_url'...",$25.8M,[],NaN,[],25800000
12,52cdef7c4bab8bd675297d98,Slacker,NaN,music,"[{'description': '', 'address1': '16935 W. Ber...",2006.0,None,"[{'id': 12, 'round_code': 'b', 'source_url': '...",$73.1M,[],NaN,[],73100000
13,52cdef7c4bab8bd675297d99,Lala,NaN,games_video,"[{'description': 'Lala Headquarters', 'address...",NaN,None,"[{'id': 16, 'round_code': 'b', 'source_url': '...",$44.2M,[],NaN,[],44200000
14,52cdef7c4bab8bd675297d9a,Helio,NaN,mobile,"[{'description': None, 'address1': '10960 Wils...",2005.0,None,[],$0,[],NaN,[],0
15,52cdef7c4bab8bd675297d9b,eBay,15000.0,web,"[{'description': 'Headquarters', 'address1': '...",1995.0,"{'valuation_amount': None, 'valuation_currency...","[{'id': 24534, 'round_code': 'unattributed', '...",$6.7M,"[{'funding_round': {'round_code': 'c', 'source...",NaN,[],6700000
16,52cdef7c4bab8bd675297d9c,MeetMoi,15.0,social,"[{'description': None, 'address1': '', 'addres...",2007.0,None,"[{'id': 18, 'round_code': 'a', 'source_url': '...",$5.58M,[],NaN,[],5580000
17,52cdef7c4bab8bd675297d9d,Joost,0.0,games_video,"[{'description': '', 'address1': '100 5th Ave ...",2006.0,None,"[{'id': 19, 'round_code': 'a', 'source_url': '...",$45M,[],NaN,[],45000000
18,52cdef7c4bab8bd675297d9e,CBS,NaN,news,"[{'description': None, 'address1': '', 'addres...",1986.0,"{'valuation_amount': None, 'valuation_currency...",[],$0,"[{'funding_round': {'round_code': 'b', 'source...",NaN,[],0
19,52cdef7c4bab8bd675297d9f,Viacom,NaN,web,"[{'description': 'HQ', 'address1': '1515 Broad...",1971.0,"{'valuation_amount': None, 'valuation_currency...",[],$0,"[{'funding_round': {'round_code': 'b', 'source...",NaN,[],0
20,52cdef7c4bab8bd675297da0,Babelgum,NaN,games_video,"[{'description': '', 'address1': '', 'address2...",2007.0,None,"[{'id': 17, 'round_code': 'a', 'source_url': '...",$13.2M,[],2013.0,[],13200000
21,52cdef7c4bab8bd675297da1,Plaxo,50.0,web,"[{'description': 'HQ', 'address1': '1050 Enter...",2002.0,None,"[{'id': 20, 'round_code': 'a', 'source_url': '...",$28.3M,[],NaN,[],28300000
22,52cdef7c4bab8bd675297da2,Cisco,63000.0,network_hosting,"[{'description': 'Headquarters', 'address1': '...",1984.0,"{'valuation_amount': None, 'valuation_currency...","[{'id': 2232, 'round_code': 'a', 'source_url':...",$2.5M,"[{'funding_round': {'round_code': 'c', 'source...",NaN,[],2500000
23,52cdef7c4bab8bd675297da3,Yahoo!,13600.0,web,"[{'description': None, 'address1': '701 First ...",1994.0,"{'valuation_amount': None, 'valuation_currency...","[{'id': 24531, 'round_code': 'a', 'source_url'...",$6.8M,"[{'funding_round': {'round_code': 'c', 'source...",NaN,[],6800000
24,52cdef7c4bab8bd675297da4,Powerset,60.0,search,"[{'description': None, 'address1': '475 Branna...",2006.0,None,"[{'id': 22, 'round_code': 'a', 'source_url': '...",$22.5M,[],NaN,[],22500000
25,52cdef7c4bab8bd675297da5,Technorati,35.0,advertising,"[{'description': '', 'address1': '360 Post St....",2002.0,None,"[{'id': 23, 'round_code': 'c', 'source_url': '...",$32.1M,[],NaN,[],32100000
26,52cdef7c4bab8bd675297da9,Mahalo,40.0,web,"[{'description': '', 'address1': '3525 Eastham...",2007.0,None,"[{'id': 323, 'round_code': 'a', 'source_url': ...",$21M,[],NaN,[],21000000
27,52cdef7c4bab8bd675297daa,Sparter,NaN,games_video,"[{'description': None, 'address1': None, 'addr...",2007.0,None,[],$0,[],2008.0,[],0
28,52cdef7c4bab8bd675297dab,Kyte,40.0,games_video,"[{'description': None, 'address1': '442 Post S...",2006.0,None,"[{'id': 32, 'round_code': 'a', 'source_url': '...",$23.4M,[],NaN,[],23400000
29,52cdef7c4bab8bd675297dac,Veoh,NaN,games_video,"[{'description': '', 'address1': '10180 Telesi...",2004.0,None,"[{'id': 33, 'round_code': 'b', 'source_url': '...",$69.8M,[],NaN,[],69800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,52cdef7c4bab8bd675297dd9,Steorn,NaN,web,"[{'description': None, 'address1': 'East Wall ...",2000.0,None,[],$0,[],NaN,[],0
71,52cdef7c4bab8bd675297ddb,MeeVee,NaN,games_video,"[{'description': None, 'address1': '500 Airpor...",2000.0,None,"[{'id': 90, 'round_code': 'b', 'source_url': '...",$25M,[],NaN,[],25000000
72,52cdef7c4bab8bd675297ddc,blinkx,NaN,games_video,"[{'description': None, 'address1': '1 Market S...",2004.0,"{'valuation_amount': None, 'valuation_currency...",[],$0,[],NaN,[],0
73,52cdef7c4bab8bd675297dde,ClipBlast!,15.0,web,"[{'description': None, 'address1': '5737 Kanan...",2005.0,None,[],$0,[],NaN,[],0
74,52cdef7c4bab8bd675297ddf,Zlio,NaN,ecommerce,"[{'description': '', 'address1': '55 rue Serva...",2005.0,None,"[{'id': 94, 'round_code': 'a', 'source_url': '...",$4M,[],2011.0,[],4000000
75,52cdef7c4bab8bd675297de0,Yelp,800.0,search,"[{'description': '', 'address1': '706 Mission ...",2004.0,"{'valuation_amount': 1300000000, 'valuation_cu...","[{'id': 95, 'round_code': 'c', 'source_url': '...",$90M,[],NaN,[],90000000
76,52cdef7c4bab8bd675297de1,Jaiku,8.0,mobile,"[{'description': None, 'address1': 'Lannrotink...",2006.0,None,[],$0,[],2012.0,[],0
77,52cdef7c4bab8bd675297de3,Spotplex,3.0,web,"[{'description': None, 'address1': '3160 De La...",2007.0,None,"[{'id': 108, 'round_code': 'angel', 'source_ur...",$450k,[],2008.0,[],450000
78,52cdef7c4bab8bd675297de5,TripUp,NaN,web,"[{'description': None, 'address1': None, 'addr...",2006.0,None,[],$0,[],2008.0,[],0
79,52cdef7c4bab8bd675297de6,Wakoopa,8.0,web,"[{'description': 'Arts & Crafts', 'address1': ...",2007.0,None,"[{'id': 100, 'round_code': 'a', 'source_url': ...",$1M,[],NaN,[],1000000
80,52cdef7c4bab8bd675297de7,Fleck,3.0,web,"[{'description': None, 'address1': 'Oosterdoks...",2006.0,None,"[{'id': 101, 'round_code': 'angel', 'source_ur...",â‚¬225k,[],2008.0,[],200803
81,52cdef7c4bab8bd675297de8,Coghead,21.0,web,"[{'description': None, 'address1': None, 'addr...",2003.0,None,"[{'id': 102, 'round_code': 'a', 'source_url': ...",$11.2M,[],2009.0,[],11200000
82,52cdef7c4bab8bd675297de9,Zamzar,2.0,web,"[{'description': '', 'address1': '', 'address2...",2006.0,None,[],$0,[],NaN,[],0
83,52cdef7c4bab8bd675297dea,Zooomr,NaN,web,"[{'description': None, 'address1': None, 'addr...",2006.0,None,"[{'id': 106, 'round_code': 'angel', 'source_ur...",$50k,[],2006.0,[],50000
84,52cdef7c4bab8bd675297deb,SideStep,75.0,web,"[{'description': None, 'address1': '2980 Bower...",1999.0,None,"[{'id': 105, 'round_code': 'c', 'source_url': ...",$32M,[],NaN,[],32000000
85,52cdef7c4bab8bd675297dec,coRank,0.0,web,"[{'description': None, 'address1': None, 'addr...",2007.0,None,"[{'id': 104, 'round_code': 'seed', 'source_url...",$0,[],NaN,[],0
86,52cdef7c4bab8bd675297ded,Farecast,26.0,search,"[{'description': None, 'address1': '200 West T...",2003.0,None,"[{'id': 109, 'round_code': 'a', 'source_url': ...",$20.6M,[],NaN,[],20600000
87,52cdef7c4bab8bd675297def,KickApps,72.0,enterprise,"[{'description': 'Headquarters', 'address1': '...",2004.0,None,"[{'id': 347, 'round_code': 'b', 'source_url': ...",$32M,[],NaN,[],32000000
88,52cdef7c4bab8bd675297df0,RockYou,106.0,games_video,"[{'description': '', 'address1': '585 Broadway...",2005.0,None,"[{'id': 115, 'round_code': 'a', 'source_url': ...",$136M,[],NaN,[],136000000
89,52cdef7c4bab8bd675297df1,ConVerdge,25.0,enterprise,"[{'description': '', 'address1': '', 'address2...",2006.0,None,[],$0,[],NaN,[],0
90,52cdef7c4bab8bd675297df2,Pageflakes,20.0,web,"[{'description': None, 'address1': '795 Folsom...",2006.0,None,"[{'id': 117, 'round_code': 'a', 'source_url': ...",$4.1M,[],NaN,[],4099999
91,52cdef7c4bab8bd675297df3,Instructables,NaN,web,"[{'description': '', 'address1': '489 Clementi...",2005.0,None,[],$0,[],NaN,[],0
92,52cdef7c4bab8bd675297df5,Swivel,1.0,search,"[{'description': None, 'address1': '199 Fremon...",2005.0,None,"[{'id': 125, 'round_code': 'a', 'source_url': ...",$2M,[],2010.0,[],2000000
93,52cdef7c4bab8bd675297df6,Slide,64.0,public_relations,"[{'description': '', 'address1': '301 Brannan ...",2005.0,None,"[{'id': 122, 'round_code': 'c', 'source_url': ...",$78M,[],2011.0,[],78000000
94,52cdef7c4bab8bd675297df7,Bebo,0.0,web,"[{'description': '', 'address1': '425 Bush Str...",2005.0,None,"[{'id': 121, 'round_code': 'a', 'source_url': ...",$15M,[],NaN,[],15000000
95,52cdef7c4bab8bd675297df8,Flickr,36.0,web,"[{'description': 'HQ', 'address1': '701 1st av...",2004.0,None,"[{'id': 7024, 'round_code': 'unattributed', 's...",$0,[],NaN,[],0
96,52cdef7c4bab8bd675297df9,BabyCenter,NaN,web,"[{'description': '', 'address1': '163 Freelon ...",1997.0,None,[],$0,[],NaN,[],0
97,52cdef7c4bab8bd675297dfa,PlaceBlogger,NaN,web,"[{'description': None, 'address1': '', 'addres...",NaN,None,"[{'id': 546, 'round_code': 'seed', 'source_url...",$5M,[],2012.0,[],5000000
98,52cdef7c4bab8bd675297dfb,WeFi,NaN,mobile,"[{'description': None, 'address1': '12587 Fair...",2006.0,None,"[{'id': 547, 'round_code': 'a', 'source_url': ...",$10M,[],NaN,[],10000000
99,52cdef7c4bab8bd675297dfc,TripHub,6.0,web,"[{'description': None, 'address1': '2033 6th A...",2005.0,None,[],$0,[],2008.0,[],0

In [54]:
with_coords2[['name','offices','number_of_employees','category_code','founded_year','ipo','total_USD_raised','deadpooled_year']]
with_coords.shape

(9025, 42)

In [53]:
#GetOffices

0       [{'description': '', 'address1': '710 - 2nd Av...
1       [{'description': 'Headquarters', 'address1': '...
2       [{'description': 'Headquarters', 'address1': '...
3       [{'description': None, 'address1': '135 Missis...
4       [{'description': 'Headquarters', 'address1': '...
5       [{'description': None, 'address1': '959 Skyway...
6       [{'description': 'Headquarters', 'address1': '...
7       [{'description': None, 'address1': '8536 Natio...
8       [{'description': '', 'address1': '407 N Maple ...
9       [{'description': '', 'address1': '1355 Market ...
10      [{'description': None, 'address1': None, 'addr...
11      [{'description': 'HQ', 'address1': '539 Bryant...
12      [{'description': '', 'address1': '16935 W. Ber...
13      [{'description': 'Lala Headquarters', 'address...
14      [{'description': None, 'address1': '10960 Wils...
15      [{'description': 'Headquarters', 'address1': '...
16      [{'description': None, 'address1': '', 'addres...
17      [{'description': '', 'address1': '100 5th Ave ...
18      [{'description': None, 'address1': '', 'addres...
19      [{'description': 'HQ', 'address1': '1515 Broad...
20      [{'description': '', 'address1': '', 'address2...
21      [{'description': 'HQ', 'address1': '1050 Enter...
22      [{'description': 'Headquarters', 'address1': '...
23      [{'description': None, 'address1': '701 First ...
24      [{'description': None, 'address1': '475 Branna...
25      [{'description': '', 'address1': '360 Post St....
26      [{'description': '', 'address1': '3525 Eastham...
27      [{'description': None, 'address1': None, 'addr...
28      [{'description': None, 'address1': '442 Post S...
29      [{'description': '', 'address1': '10180 Telesi...
                              ...
8995    [{'description': 'ITERNOVA TERUEL', 'address1'...
8996    [{'description': 'Corporate Headquarters', 'ad...
8997    [{'description': '', 'address1': '173 Jefferso...
8998    [{'description': '', 'address1': '611 Industri...
8999    [{'description': '', 'address1': '2465-B Faber...
9000    [{'description': '', 'address1': '108 boulevar...
9001    [{'description': 'World Headquarter', 'address...
9002    [{'description': 'Toronto Office', 'address1':...
9003    [{'description': 'Main Office', 'address1': '8...
9004    [{'description': 'Main Office', 'address1': '6...
9005    [{'description': '', 'address1': '', 'address2...
9006    [{'description': 'Corporate Headquarters', 'ad...
9007    [{'description': '198 High Holborn', 'address1...
9008    [{'description': 'Corporate Office', 'address1...
9009    [{'description': '', 'address1': '3700 Haven C...
9010    [{'description': '', 'address1': '2635 North 1...
9011    [{'description': 'HQ', 'address1': '1350 Willo...
9012    [{'description': 'Headquarters', 'address1': '...
9013    [{'description': '', 'address1': '39660 Eureka...
9014    [{'description': 'HQ', 'address1': 'Rue des Ta...
9015    [{'description': '', 'address1': '13280 NW Fre...
9016    [{'description': '', 'address1': '15 Exchange ...
9017    [{'description': '', 'address1': '11875 Dublin...
9018    [{'description': '', 'address1': '2401 East Ka...
9019    [{'description': '', 'address1': '200 Knickerb...
9020    [{'description': '', 'address1': '400 Royal Pa...
9021    [{'description': '', 'address1': 'LÃƒÂ¤rchenweg ...
9022    [{'description': 'Livingston', 'address1': 'P....
9023    [{'description': '', 'address1': '', 'address2...
9024    [{'description': '', 'address1': '1900 Interna...
Name: offices, Length: 9025, dtype: object